@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: orange;
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;  /*rem--> root element (relative to font size of root element*/
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgba(255, 165, 0, .2);
    color: orange;
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.heading span.space{
    background: none;
}


header{
    position:relative;
    top:0; left: 0; right: 0;
    background: #333;   /*dark charcoal*/
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

header .logo span{
    color: #fff;
}

header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin: 0.8rem;
}

header .navbar a:hover{
    color: orange;
}

header .icons i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

#menu-bar{
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

















@media (max-width: 1200px){

    html{
        font-size: 55%;
        
    }
    
}

@media (max-width: 991px){

    header{
        padding: 2rem;
        
        
    }

    section{
        padding: 2rem;
        
    }
    
}

@media (max-width: 768px){

    #menu-bar{
        display: initial;  
    }

    header .navbar{
        position: absolute;
        top: 100%; right: 0; left: 0;
        background: #333;
        border-top: .1rem solid rgba(255, 255, 255, .2);
        padding: 1rem 2rem;
        clip-path:  polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    header .navbar a{
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: #222;
    }
    .navbar{
        display:list-item;
    }
}
  
@media (max-width: 450px){

    html{
        font-size: 50%;   
    }

    .heading span{
        font-size: 2.5rem;   
    }

    .contact .row form .inputBox input{
        width: 100%;
    }
    
}